body {
    font-family: Arial, sans-serif;
    background-image: url(./IMAGES/table.jpeg);
    text-align: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
}
.container {
    max-width: 400px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h2 {
    color: #d35400;
}
input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    width: 100%;
    padding: 10px;
    background: #d35400;
    color: green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background: #b33e00;
}
@media only screen and (max-width:430px){
    .container{
        background-color: rgba(239, 41, 239, 0.52);
        left: 10%;
    }
    .container h2{
        color: black;
        font-style: italic;
    }
    .contai{
        display: grid;
        place-items:center;
        position: absolute;
        top: 5%;
        right: 2%;
        z-index: 99;
    }
    .group-menu{
        cursor: pointer;
    }
    .dot{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: black;
        margin-top: 4px;
        
    }
    .framel{
        visibility: hidden;
    }
    .framel .info{
        font-size: 20px;
        color: white;
        border-bottom:1px solid white ;
        padding-top:13px ;
        cursor: pointer;
    }
    .framel .info:hover{
        background-color: black;
    }
    .framel .info span{
        margin-left: 10px;
    }
    .style{
        width: 200px;
        height: 270px;
        background-color: black;
        margin-top: 5px;
        margin-left: -180px;
        border-radius: 10px;
    }
    
}


