
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.top-nav{
    background-color:black;
    justify-content: center;
    height: 40px;
    color:white;
    padding: 7px 480px;
    margin-bottom: 0;
}
.divtop{
    display: flex;
    justify-content: center;
}

#navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    background-color: white;
    font-weight: 600;
    padding-top: 5px;
}
#navbar img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#navbar div nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    white-space:nowrap;
    list-style: none;
    font-size: 15px;
}
 #navbar div nav ul li a{
     text-decoration:none;
     color: black;
}
#navbar div nav ul li a:hover{/*navbar ke icon ka color change hota h*/
    color: rgb(228, 29, 29);
    font-size: 20px;
}
#navbar .icons{
    display: flex;
    gap: 50px;
}
#navbar .call{
    display: flex;
    gap: 20%;
    white-space: nowrap;
    background-color: rgb(250, 127 ,99);
    color: white;
    padding: 10px;
    border-radius: 20px;
    font-size: 14px;
    transition: 5s ease;/*transition se color timing slow hota he*/
    
}
#navbar .call:hover{
    background-color: crimson;/*call:hover krne se call pr jake color change*/
    transform:/* rotate(180deg) */scale(0.5);/* rotate ghum jata h ---scale size bada chota hota h*/

}

#home {
    width: 100%;
    border: 1px solid black;
    height: 100vh;
    display: flex;
    justify-content:left;
    align-items: center;
    font-style: italic;
    font-size: xx-large;
}

/*----------------------------------*/
 #heromain{
    width: 100%;
    height: 100vh;
    display: flex;
    margin-top: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
 }
.content_wrapper{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:white
}
.content_wrapper h1{
    font-size:3rem;
    font-weight: 600;
    
}
span{
    color: darkorange;
    font-weight: 600;
}
 button{
    background-color: rgb(237, 64, 64);
    color:white
 }


 #video-background {

    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1;
 }
 .box1{
    height: 100vh;
    width: 100%;
    border: 1px solid;
    animation: move 4s infinite;
    
 }
 @keyframes move{
      0%{
        background-image:url(./IMAGES/blog-2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    25%{
        background-image: url(./IMAGES/blog-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    50%{
        background-image: url(./IMAGES/blog-3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    100%{
       background-image: url(./IMAGES/menu-1.png) ;
       background-repeat: no-repeat;
       background-size: cover;
    }

 }
 form{
    height:100vh;
    width: 50%;
 }

#bars{
    display: none;
}
#check{
    display: none;
}
@media(max-width:952px){
    #navbar{
        display: none;
    }
    #bars{

        display: block;
        color: aqua;
        right: 10%;
        top: 10%;
        cursor: pointer;
    }
    #check:checked ~ #navbar{
        display: block;
    
     

    }
    #navbar div nav ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 4;
        gap: 20%;
        white-space:nowrap;
        list-style: none;
        font-size: 15px;
    }
    #navbar .call{
        display: flex;
        gap: 20%;
        white-space: nowrap;
        background-color: rgb(250, 127 ,99);
        color: white;
        border-radius: 20px;
        font-size: 10px;
        
    }
    
}

 /*======mobile screen ke liye=====*/
@media(max-width:430px){
    #navbar div nav ul li a{
        color: red;
    }
    #navbar #link{
        display: none;
    }
    #navbar.icons{
        display: none;
    }
    #navbar.call{
        display: none;
    }
    #bars{
        position: absolute;
        z-index: 999;
        top: 8%;
        right: 10%;
    }
    #chek:checked~#navbar #links{
        display: block;
    }
}



 



